@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	background:#ffffff;;
}

a.border.nav-link.border-light.rounded.mr-1 {
  color: #3F729B;
}

a.border.nav-link.border-light.rounded.mr-1:hover {
  color: #1C2331;
}

/*.btn.btn-sm.indigo:hover{
  color: #fff;
}*/

.nav-link.active{
  background-color: rgba(255, 255, 255, 0.1);
}

#categories > .col-md-4.mb-5{
  margin-bottom: 8rem !important;
}

.image-wrapper {
    position: relative;
    padding-bottom: 70%;
}

.image-wrapper img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/*add style*/

.header-bg{
    background-color: #302D30;
}
.header-position > .container{
    max-width: 100%;
}
.name-logo{
    margin-right: 10px;
}
.navbar-brand{
    display: flex;
    align-items: flex-end;
    font-family: "Roboto", sans-serif;
}
.card{
    border: none;
    background: #FFFFFF !important;
    box-shadow: 0px 6px 16px rgba(146, 172, 187, 0.2) !important;
    border-radius: 10px;
}
.card-title {
    font-family: Lato;
    font-weight: 600;
    font-size: 31px;
    line-height: 37px;
    color: #0A090A !important;
}

.card-text {
    font-family: Lato;
    font-size: 18px;
    line-height: 22px;
    color: #777777 !important;
}
.btn-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

}

.btn-block .btn {
    width: 133px;
    height: 44px;
    font-family: Lato;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    box-shadow: none !important;
    transition: all .5s;
}
.btn-block .btn:hover{
    transform: scale(1.1);
}
.btn-success {
    background: #E3D6CE !important;
    border-radius: 50px;
    border: #E3D6CE 1px solid !important;
    color: #0A090A !important;
}

.btn-danger {
    background: transparent !important;
    border: 1px solid #E12E2E !important;
    box-sizing: border-box;
    border-radius: 50px;
    color: #E12E2E !important;
}

/*pagination*/
.justify-content-center{
    margin: 60px 0 10px;
    justify-content: flex-end !important;
}
.pagination .page-item.active .page-link{
    background-color: #302D30 !important;
}
.page-item{
  background-color: #E3D6CE !important;
    margin: 0 5px;
    color: black !important;
}

.cat-main-container{
    padding: 100px 0 220px;
    position: relative;
}
.pagination .active{
    background-color: red !important;
}
    /*absolute*/
.abs-bg{
    width: 230px;
    height: 230px;
    position: absolute;
    z-index: -1;
    background-position: center;
    background-size: cover;
}

.absolute-bg-1{
    right: 5%;
    top: 1%;
    background-image: url("../assets/cat-right.png");
}
.absolute-bg-2{
    left: 11%;
    top: 45%;
    background-image: url("../assets/cat.png");

}.absolute-bg-3{
     right: 13%;
     bottom: 11%;
     background-image: url("../assets/cat-right.png");

}.absolute-bg-4{
      font-family: Lato;
      font-style: normal;
      font-weight: 900;
      font-size: 280px;
      line-height: 341px;
      text-align: center;
      text-transform: uppercase;
      color: rgba(10, 9, 10, 0.03);
      bottom: 77px;
}



