version: '{build}'
image:
- Visual Studio 2019
- Ubuntu
configuration: Release

cache:
  - tools -> build.cake
  - packages -> **\packages.config, nuget.config

environment:
  ASPNETCORE_ENVIRONMENT: Staging
  COREHOST_TRACE: 0
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_CLI_TELEMETRY_OPTOUT: 1

nuget:
  project_feed: true
  disable_publish_on_pr: true

artifacts:
- path: build\artifacts\*.nupkg

deploy: off
branches:
  only:
    - develop
    - /release.*/
    - master
skip_commits:
  files:
  - LICENSE
  - README.md
  - .travis.yml

for:
  -
    matrix:
      only:
      - image: Visual Studio 2019
    before_build:
      - choco install codecov
    build_script:
      - ps: >-
          .\build.ps1     
  -
    matrix:
      only:
        - image: Ubuntu
    before_build:
      - chmod +x build.sh
    build_script:
      - ./build.sh
