<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="DevOpsFeed" value="https://pkgs.dev.azure.com/AzureDevOpsKats/_packaging/AzureDevOpsCacheFeed/nuget/v3/index.json"/>
        <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <DevOpsFeed>
            <add key="Username" value="user" />
            <add key="ClearTextPassword" value="izltvu62wmimoax6lrw676bxgzph6q2ntgj6rboth45hduigzdta" />
        </DevOpsFeed>
    </packageSourceCredentials>
</configuration>
