<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StyleCopeRules" Description="StyleCopeRules custom ruleset" ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" /> <!-- SA0001: XmlCommentAnalysisDisabled -->
    <Rule Id="SA1101" Action="None" /> <!-- SA1101: PrefixLocalCallsWithThis -->
    <Rule Id="SA1123" Action="None" /> <!-- SA1123: DoNotPlaceRegionsWithinElements -->
    <Rule Id="SA1124" Action="None" /> <!-- SA1124: DoNotUseRegions-->
    <Rule Id="SA1200" Action="None" /> <!-- SA1200: UsingDirectivesMustBePlacedWithinNamespace -->
    <Rule Id="SA1309" Action="None" /> <!-- SA1309: FieldNamesMustNotBeginWithUnderscore -->
    <Rule Id="SA1312" Action="None" /> <!-- SA1312: VariableNamesMustBeginWithLowerCaseLetter-->
    <Rule Id="SA1402" Action="None" /> <!-- SA1402: FileMayOnlyContainASingleType-->
    <Rule Id="SA1503" Action="None" /> <!-- SA1503: CurlyBracketsMustNotBeOmitted -->
    <Rule Id="SA1600" Action="None" /> <!-- SA1600: ElementsMustBeDocumented -->
    <Rule Id="SA1602" Action="None" /> <!-- SA1602: EnumerationItemsMustBeDocumented -->
    <Rule Id="SA1606" Action="None" /> <!-- SA1606: ElementDocumentationMustHaveSummaryText -->
    <Rule Id="SA1614" Action="None" /> <!-- SA1614: ElementParameterDocumentationMustHaveText-->
    <Rule Id="SA1616" Action="None" /> <!-- SA1616: ElementReturnValueDocumentationMustHaveText -->
    <Rule Id="SA1623" Action="None" /> <!-- SA1623: PropertySummaryDocumentationMustMatchAccessors -->
    <Rule Id="SA1627" Action="None" /> <!-- SA1627: DocumentationTextMustNotBeEmpty -->
    <Rule Id="SA1629" Action="None" /> <!-- SA1627: DocumentationTextMustEndWithAPeriod -->
    <Rule Id="SA1633" Action="None" /> <!-- SA1633: FileMustHaveHeader -->
  </Rules>
</RuleSet>


