**/docker/**/*
**/docker/

**/bin/**/*
**/bin

**/obj/**/*
**/obj

**/Helpers/**/*
**/Helpers

**/Model/**/*
**/Model

**/Properties/**/*
**/Properties/

**/*.cs
**/*.js
**/*.map

**/*.jpg
**/*.svg
**/*.ico
**/*.eot
**/*.ttf
**/*.woff
**/*.woff2

**/*.txt
**/*.html
**/*.cshtml
**/*.css
**/*.json

**/*.md

.dockerignore
**/web.config
**/Jenkinsfile-base
**/Jenkinsfile
**/Dockerfile
